*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
   height: 19%;
   background-color: #353f47dc;
   display: flex;
   list-style: none;    
   justify-content: space-between;
   align-items: center;
}

.logo{
  color: white;
  font-size: 26px;
  font-weight:bolder;
  padding-left: 230px;

}

.logo span {
  color: #2bb0e6;
}

.pestañas-nav {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 230px;
}

.pestañas-nav li {
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 12px;
  transition: all 0.3s ease;
  font-weight: 500px;
}

.pestañas-nav .home{ 
  color:#2bb0e6;
}

.pestañas-nav li:first-child {
  color: #ffffff;
  border: 2px solid transparent;
}

.pestañas-nav .home:first-child {
  color: #2bb0e6;
  border: 2px solid #2bb0e6;
}


.pestañas-nav .home {
  color: #2bb0e6;
  border: 2px solid #2bb0e6;
}

.seccion1{
    background-image: url(../assets/images/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    color:#ffffff
}

.contenedor-texto{
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h1 {
font-weight: lighter;
font-family: "Noto Sans", sans-serif;
}

.arriba{
    background-color: hsla(207, 15%, 24%, 0.769);
    padding: 5px;
}

.seccion2{
  background-color: #2bb0e6;
  color: #ffffff;
  padding: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:  50px;
  font-size: 15px;
  line-height: 1.5;
}

.seccion2 h2 {
font-weight: 400;
font-family: "Noto Sans", sans-serif;
}

.sec1 .sec2 .sec3 .sec4 {
  width: 5%;
  height: 10%;
}

.seccion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.info{
   display: flex;
   list-style: none;    
   justify-content: space-between;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;

}

.info{
  padding-top: 90px;
  display: flex;
  list-style: none;
  font-weight: bold;
  color: #6d758a; 
  gap: 25px;
}
.all{
  color: #2bb0e6;
  border: 2px solid #2bb0e6;
  padding: 10px 20px;
}

.titulo {       
   color: #6d758a;  
   font-weight: 400;
   font-family: "Noto Sans", sans-serif;
   padding-right: 500px;
   font-size: 25px;

}

.por{ 
  font-weight: 400;
   font-family: "Noto Sans", sans-serif;
   font-size: 25px;
   border-bottom: 3px solid ;
}


.cubitos{
	width: 80vw;
	height: 90vh;
	display: grid;
	grid-template-columns:repeat(4, 23%);
	grid-template-rows: repeat(3,40%);
  padding-left: 5%;
}

.cell{
	border: 10px rgb(255, 255, 255) solid;
	text-align: center;
	color: transparent;
	font-weight: bold;
}
.cubo1{
  background-image: url(../assets/images/photo01.png);
}

.cubo2{
  background-image: url(../assets/images/photo02.png);
}
.cubo3{
  background-image: url(../assets/images/photo03.png);
}

.cubo4{
  background-image: url(../assets/images/photo04.png);
}

.cubo5{
  background-image: url(../assets/images/photo05.png);
}

.cubo6{
  background-image: url(../assets/images/photo06.png);
}

.cubo7{
  background-image: url(../assets/images/photo07.png);
}

.cubo8{
  background-image: url(../assets/images/photo08.png);
}

.seccion4 {
 
  background: #353f47c7; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 110px;
  color: white;
}


.titu,
.texto {
  max-width: 500px;
}


.titu h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
}

.just{
  border-bottom: 3px solid #ffffff ;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
}


.texto p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #e0e0e0;
  max-width: 450px;
}


.texto a {
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid #353f47c7;
  color: #353f47c7;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}


.img4 img {
  max-width: 520px;
  width: 100%;
}

.seccion5 {
  width: 100%;
  background: #4bcaff; 
  padding: 65px  0px;
  color: white;
  font-family: Arial, sans-serif;
}

.alroba{
  font-weight: bold;
}

.ti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.ti h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  padding: 0 200px;
}

.TW{
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  border-bottom: 3px solid #f6f7f8;
}

.ti img {
  width: 24px;
  padding: 0 250px;
}



.textu p {
  font-size: 23px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  max-width: 1000px;
  line-height: 1.6;
  padding: 0 200px;
}


.textu span {
  font-weight: 600;
}

.seccion6 {
  min-height: 400px;
  background: url("./assets/images/bg_whoIs.png") center/cover no-repeat;
  position: relative;
  display: flex;
  gap: 50px;
  padding: 50px 120px;
  color: #fff;
}

.WHO{
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
  border-bottom: 3px solid #ffffff;
}

.izquierdo,
.derecha {
  width: 50%;
}

.izquierdo h2 {
  margin-top: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-left: 100px;
}


.izquierdo p,
.derecha p {
  font-size: 14px;
  line-height: 1.8;
  color: #ddd;
  margin-left: 100px;
}


.derecha {
  padding-top: 55PX;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.derecha li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.derecha li img {
  width: 60px;
  padding: 10px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.tui{
    margin-left: 100px;
}


.seccion7 {
  background: #fff;
  padding: 80px 120px;
  color: #666;
}

.seccion7 h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  padding: 0 100px;
  margin-bottom: 25px;
}

.TES{
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  border-bottom: 3px solid #666;
}


.seccion7 p {
  font-size: 23px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  max-width: 1000px;
  line-height: 1.6;
  padding: 0 100px;
}

.seccion7 .link {
  display: block;
  margin-top: 20px;
  color: #4bcaff;
  font-weight: 600;
  padding: 0 100px;
}

.sccion7{
  width: 20px;
}

.comillas{
  display: flex;
  flex-direction: row;
}

.comilla{

  padding-left: 750px;
}


.seccion8 {

  background: url("./assets/images/bg_contact.png") center/cover no-repeat;
  position: relative;
  padding: 100px 110px;
  color: white;
}

.seccion8 h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  margin-bottom: 10px;
}
.CO{
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  margin-left: 150px;
  border-bottom: 3px solid #fff;
}

.contacto-contenido {
    display: flex;
    gap: 50px;
    flex-direction: row-reverse;
}

.infe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 150px;
    padding-top: 50px;
}

.formulario {
  width: 50%;
}

.formulario label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 150px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  padding: 12px;
  margin-bottom: 25px;
  color: white;
  margin-left: 150px;
}

.formulario textarea {
  height: 140px;
  resize: none;
}


.formulario button {
  background: #4bcaff;
  border: none;
  padding: 14px 50px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 150px;
}


.infe {
  width: 50%;
  font-size: 14px;
  line-height: 1.8;
  color: #e0e0e0;
}

.info .direccion {
  margin-top: 30px;
}








footer {
  background: #2f3e46;
  color: #aaa;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pestañas-footer {
  display: flex;
  gap: 15px;
}

.pestañas-footer li {
  list-style: none;
  font-size: 12px;
  padding-right: 0 50px;
}

.fecha {
  font-size: 12px;
  padding-left: 0 150px;
}






@media (min-width: 921px) and (max-width: 1279px) {

  .logo { padding-left: 80px; }
  .pestañas-nav { padding-right: 80px; gap: 18px; }

  .arriba { margin: 0 120px; }


  .seccion2 { padding: 80px 60px; gap: 30px; }

  .titulo { padding-right: 200px;;}
  .cubitos {
    width: 90vw;
    height: 80vh;
    padding-left: 3%;
  }

  .seccion4 { padding: 60px; gap: 60px; }
  .img4 img { max-width: 380px; }

  .ti h2  { padding: 0 100px; }
  .ti img { padding: 0 110px; }
  .textu p { padding: 0 100px; font-size: 19px; }

  .seccion6 { padding: 50px 60px; }
  .izquierdo h2,
  .izquierdo p,
  .derecha p,


  .seccion7 { padding: 60px 80px; }
  .seccion7 h2,
  .seccion7 p,
  .seccion7 .link { padding: 0 40px; }
  .comilla { padding-left: 400px; }

  .seccion8 { padding: 80px 60px; }
  .CO { margin-left: 60px; }
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario button { margin-left: 60px; }
  .infe { margin-left: 60px; }


  .tui{ width: 20%; }

  footer { padding: 40px 60px; }
}

@media (min-width: 769px) and (max-width: 920px) {

  nav { height: auto; padding: 14px 0; }
  .logo { padding-left: 40px; font-size: 22px; }
  .pestañas-nav { padding-right: 40px; gap: 12px; }
  .pestañas-nav li { font-size: 12px; padding: 5px 8px; }

  .seccion1 { height: 70vh; }
  .arriba { margin: 0 60px; }
  h1 { font-size: 18px; }

  .seccion2 {
    padding: 60px 40px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .seccion2 > div { width: 40%; text-align: center; }

  .titulo {
    padding-right: 0;
    text-align: center;
    font-size: 20px;
  }
  .info { flex-wrap: wrap; justify-content: center; padding-top: 50px; gap: 15px; }
  .cubitos {
    width: 95vw;
    height: auto;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto;
    padding-left: 2%;
    gap: 4px;
  }
  .cell { height: 160px; }

  .seccion4 {
    flex-direction: column;
    padding: 50px 40px;
    gap: 30px;
    text-align: center;
  }
  .titu, .texto { max-width: 100%; }
  .img4 img { max-width: 100%; }

  .seccion5 { padding: 50px 0; }
  .ti h2  { padding: 0 40px; font-size: 20px; }
  .ti img { padding: 0 45px; }
  .textu p { padding: 0 40px; font-size: 17px; }

  .seccion6 {
    flex-direction: column;
    padding: 40px 40px;
    gap: 30px;
  }
  .izquierdo, .derecha { width: 100%; }
  .izquierdo h2,
  .izquierdo p,
  .derecha p,
  .tui { margin-left: 0; }

  .seccion7 { padding: 60px 40px; }
  .seccion7 h2,
  .seccion7 p,
  .seccion7 .link { padding: 0; }
  .seccion7 p { font-size: 18px; }
  .comilla { padding-left: 0; text-align: right; }
  .comillas { justify-content: space-between; }

  .seccion8 { padding: 60px 40px; }
  .CO { margin-left: 0; }
  .contacto-contenido {
    flex-direction: column;
    gap: 30px;
  }
  .formulario { width: 100%; }
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario button { margin-left: 0; width: 100%; }
  .infe { width: 100%; margin-left: 0; padding-top: 20px; }

  footer {
    flex-direction: column;
    gap: 15px;
    padding: 30px 40px;
    text-align: center;
  }
  .pestañas-footer { flex-wrap: wrap; justify-content: center; }
}

@media (min-width: 481px) and (max-width: 768px) {

  nav {
    flex-direction: column;
    height: auto;
    padding: 16px 20px;
    gap: 12px;
  }
  .logo { padding-left: 0; font-size: 22px; }
  .pestañas-nav {
    padding-right: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pestañas-nav li { font-size: 12px; }

  .seccion1 { height: 60vh; }
  .arriba { margin: 0 30px; }
  h1 { font-size: 16px; text-align: center; }

  .seccion2 {
    flex-direction: column;
    padding: 50px 30px;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .seccion2 > div { width: 100%; }

  .seccion3 { gap: 40px; }
  .titulo {
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
  }
  .info {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;
  }
  .cubitos {
    width: 96vw;
    height: auto;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: auto;
    padding-left: 1%;
    gap: 4px;
  }
  .cell { height: 180px; }

  .seccion4 {
    flex-direction: column;
    padding: 40px 30px;
    gap: 30px;
    text-align: center;
  }
  .titu, .texto { max-width: 100%; }
  .img4 img { max-width: 100%; }

  .seccion5 { padding: 40px 0; }
  .ti h2  { padding: 0 25px; font-size: 18px; }
  .ti img { padding: 0 30px; }
  .textu p { padding: 0 25px; font-size: 16px; }

  .seccion6 {
    flex-direction: column;
    padding: 40px 30px;
    gap: 25px;
  }
  .izquierdo, .derecha { width: 100%; }
  .izquierdo h2,
  .izquierdo p,
  .derecha p,
  .tui { margin-left: 0; }

  .seccion7 { padding: 50px 30px; }
  .seccion7 h2,
  .seccion7 p,
  .seccion7 .link { padding: 0; }
  .seccion7 p { font-size: 17px; }
  .comilla { padding-left: 0; }
  .comillas { justify-content: space-between; }

  .seccion8 { padding: 50px 30px; }
  .CO { margin-left: 0; }
  .contacto-contenido {
    flex-direction: column;
    gap: 25px;
  }
  .formulario { width: 100%; }
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario button {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .infe { width: 100%; margin-left: 0; padding-top: 15px; }

  footer {
    flex-direction: column;
    gap: 15px;
    padding: 30px 30px;
    text-align: center;
  }
  .pestañas-footer { flex-wrap: wrap; justify-content: center; }
}

@media (min-width: 352px) and (max-width: 480px) {

  nav {
    flex-direction: column;
    height: auto;
    padding: 14px 16px;
    gap: 10px;
  }
  .logo { padding-left: 0; font-size: 20px; }
  .pestañas-nav {
    padding-right: 0;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pestañas-nav li { font-size: 11px; padding: 4px 8px; }

  .seccion1 { height: 55vh; }
  .contenedor-texto { height: 90%; padding: 0 15px; }
  .arriba { margin: 0 15px; padding: 8px; }
  h1 { font-size: 13px; text-align: center; line-height: 1.5; }

  .seccion2 {
    flex-direction: column;
    padding: 35px 20px;
    gap: 25px;
    align-items: center;
    text-align: center;
  }
  .seccion2 > div { width: 100%; }
  .seccion2 h2 { font-size: 14px; }

  .seccion3 { gap: 30px; }
  .titulo {
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
  }
  .info {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    gap: 8px;
    font-size: 12px;
  }
  .all { padding: 6px 12px; }
  .por { font-size: 18px; }
  .cubitos {
    width: 98vw;
    height: auto;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: auto;
    padding-left: 1%;
    gap: 3px;
  }
  .cell {
    height: 140px;
    border-width: 5px;
    background-size: cover;
    background-position: center;
  }

  .seccion4 {
    flex-direction: column;
    padding: 35px 20px;
    gap: 25px;
    text-align: center;
  }
  .titu, .texto { max-width: 100%; }
  .just { font-size: 20px; }
  .titu h2 { font-size: 20px; }
  .texto p { font-size: 13px; }
  .img4 img { max-width: 100%; }
  .texto a {
    padding: 10px 20px;
    background: white;
    color: #353f47;
    border-color: white;
  }

  .seccion5 { padding: 35px 0; }
  .ti h2 { padding: 0 16px; font-size: 16px; }
  .TW { font-size: 16px; }
  .ti img { padding: 0 18px; width: 20px; }
  .textu p { padding: 0 16px; font-size: 14px; }

  .seccion6 {
    flex-direction: column;
    min-height: auto;
    padding: 35px 20px;
    gap: 20px;
  }
  .izquierdo, .derecha { width: 100%; }
  .izquierdo h2 {
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .WHO { font-size: 20px; }
  .izquierdo p,
  .derecha p,
  .tui { margin-left: 0; font-size: 13px; }
  .derecha { padding-top: 10px; gap: 15px; }
  .derecha li img { width: 45px; }

  .seccion7 { padding: 40px 20px; }
  .seccion7 h2 { padding: 0; font-size: 20px; margin-bottom: 16px; }
  .TES { font-size: 20px; }
  .seccion7 p { padding: 0; font-size: 15px; }
  .seccion7 .link { padding: 0; font-size: 13px; }
  .comilla { padding-left: 0; }
  .comillas { justify-content: space-between; align-items: center; }

  .seccion8 { padding: 40px 20px; }
  .seccion8 h2 { font-size: 20px; }
  .CO { margin-left: 0; font-size: 20px; }
  .contacto-contenido {
    flex-direction: column;
    gap: 20px;
  }
  .formulario { width: 100%; }
  .formulario label {
    margin-left: 0;
    font-size: 11px;
  }
  .formulario input,
  .formulario textarea {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
  }
  .formulario button {
    margin-left: 0;
    width: 100%;
    padding: 14px;
    font-size: 13px;
  }
  .infe {
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
    font-size: 13px;
  }

  footer {
    flex-direction: column;
    gap: 12px;
    padding: 25px 20px;
    text-align: center;
  }
  .pestañas-footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  .pestañas-footer li { font-size: 11px; }
  .fecha { font-size: 11px; }
}
